.res {
  #feature {
    //height: 570vh;
    padding: 1vh 0;
    //margin-bottom: 3em;
    //height:100vh !important;
    background: white;
    background-image: url('../../resource/background_feature.jpg');

    #caption {
      margin: 1em 0;
      font-size: 2em;
      text-align: center;
      color: #66087c;
    }

    #mockup_container {

      margin-top: 1em;
      max-width: 1400px;
      margin: auto;
      .swiper-pagination-bullet-active{
        background-color: #ecd034;
      }
      .swiper-button-prev{
        background-image: url('../../resource/arrow.png');
      }

      .swiper-button-next{
        background-image: url('../../resource/arrow_2.png');
      }
      .one_mock {

        display: inline-block;
        width: 100%;
        background: transparent;
        vertical-align: top;
        opacity: 1;
        transform: translateY(-20px);


        .card-image{
          position: relative;
          margin-top: -50px;
          img{
            width: 55%;
            margin: 70px 22.5%;
          }
        }

        .card-content{
          position: relative;
          margin-top: -70px;
          transform: translateY(-10px);
        }

        .caption {
          font-size: 1.3em;
          text-align: center;
          font-weight: bold;
          line-height: 1em;
          padding: 1em 0;
          color: #66077b;
          padding-bottom: 0.5em;

        }

        .detail {

          text-align: center;
          font-size: 1em;
          color: #9a87a9;
        }
      }

    }

  }
}
