<div id="landing">
  <div class="section" id="landing_top">
    <div id="hero_container">
      <div id="main_container">
        <div id="container_left">
        <div id="main_logo">
          <img :src="dreamDogLogo"/>
        </div>
        <div class="main_content">
          <b class="pur">Dogs aren't just pets, </b><span class="colr">they're family members! The</span> <b class="yel">DreamDog </b>
          app helps you find the perfect dog to add to your family by appearance, breed, location or shelter!
        </div>
        <div id="download">
          <div class="dow"><a href="https://itunes.apple.com/us/app/dream-dog/id1152725638?mt=8" target="_blank"><img :src="appStore"></a></div>
          <div class="dow"><a href="https://play.google.com/store/apps/details?id=com.dreamdogapp.android&hl=en" target="_blank"><img :src="gooStore"></a></div>
        </div>
        </div><!--
        --><div id="container_right">
        <div id="screen">
          <div id="scr"><img :src="screenShots"/></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section"><shelter></shelter></div>
  <div class="section" style="{background: url('../resource/background_feature.jpg')}"><feature></feature></div>
  <!--<div class="section"><contact></contact></div>-->
</div>
<!--<navbar></navbar>-->
