.non-res {
  #footer {

    border-top: 1px solid #efeeeb;
    height: 160px;
    min-width: 1000px;
    overflow: hidden;
    .footer-container{
      position: relative;
      height:100%;
    }



  }

  .left-container {
    display: inline-block;
    //padding-left: 10vh;
    width:50%;
    height:100%;


    #dog-logo{
      display: inline-block;
      img{
        margin: 32.5px 0 32.5px 32.5px;
        height: 95px;
      }
    }

    .download{
      display: inline-block;
      vertical-align: top;
      margin-top: 40px;
      margin-left: 15px;
      #find-dog{
        color: #66077b;
        font-weight: 300;
        margin-bottom: 5px;
      }
      .cs{
        width: 150px;
        display: block;
      }
      .store{
        display: inline-block;
        height: 45px;
      }
    }
  }

  .mid-container{
    position: absolute;
    top: 60px;
    left: 40%;
    .tos{
      //padding-top: 0.6vh;
      a{
        margin-left: 10px;
        color: #66077b;
      }
    }
  }

  .right-container {
    float: right;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    height: 100%;
    padding: 3.5em 2em;
    .email {
      //padding-bottom: 0.9vh;
      padding-right: 0.6vh;

      .email-icon {
        max-height: 20px;
        transform: translateY(5px);
      }
      a {
        color: #5a096f;
        //font-size: 2.9vh;
        font-weight: 600;
      }

    }



    .social {
      padding-top: 0.9vh;
      span{
        vertical-align: top;
        color: #bcb595;
        position: relative;
        top: 2px;
      }
    }
    .social-icon {
      max-width: 25px;
      max-height: 25px;
      margin-left: 0.5em;
    }

  }
}
