.res {
  #footer {
    border-top: 1px solid #efeeeb;
    width: 100%;
  }
  .footer-container{
    padding: 1em 2em;
  }

  #footer-top{
    #dog-logo{
      width: 60%;
      margin: auto;
      text-align: center;
      color: #66077b;
      font-size: 1.2em;
      img{width: 100%;}
      .download{
        width: 210px;
        margin-top: 10px;
      }
    }
  }
  .divider{
    margin: 10px auto;
    width: 90%;
  }

  #footer-bottom{
    .footer-tos{
      width: 60%;
      margin:0 auto 10px auto;
      text-align: center;
      a{
        color: #66077b;
        font-size: 1.2em;
      }
    }
    #footer-email{
      text-align: center;
      .email-icon {
        max-height: 20px;
        transform: translateY(5px);
      }
      a {
        color: #5a096f;
        font-weight: 600;
      }
    }

    #footer-icon{
      margin: 20px auto;
      text-align: center;
      .social-icon {
        max-width: 25px;
        max-height: 25px;
        margin-left: 0.5em;
      }
      span{
        vertical-align: top;
        color: #bcb595;
        position: relative;
        top: 2px;
      }

    }
  }



}
